.label {
    -fx-background-color: linear-gradient(to bottom right, #a8ffd8, #9ec8ff);
    -fx-border-color: #ff9500 #00ff6a #ff008c #0088ff;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

.error-label {
    -fx-background-color: #ffcccc;
    -fx-text-fill: #8b0000;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-border-color: #d32f2f;
    -fx-border-width: 2px;
}

/* Paste this below reply-label */
.add-label {
    -fx-background-color: yellow;
}

.marked-label {
    -fx-background-color: palegreen;
}

.delete-label {
    -fx-background-color: lightpink;
}


#displayPicture {
    /* Enhanced shadow effect on circular image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0.6, 2, 2);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}
